{% schema %}
  {
    "name": "Old mobiles",
    "settings": [
    	{
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "url",
        "id": "url",
        "label": "url"
      }
    ],
    "blocks": [
      {
        "name" : "used_mobile",
        "type"  : "text",
        "settings": [
          {
            "type": "text",
            "id": "used_phones_name",
            "label": "Heading"
          }
        ]
      }
    ],
     "presets": [
      {
        "name": "Old mobiles",
        "category": "Custom"
      }
    ]
  }
{% endschema %}


<h2 class="center used-phones-heading">{{ section.settings.title }}</h2>
<p>If you are intereested <a href="{{ section.settings.url }}">click here</a>!</p>

{% for item in blocks %}
    {% case item.type %}
      {% when 'text' %}
<!-- <h4>{{ item.settings.used_phones_name }}</h4> -->
      {{ item }}
      {% else %}
    {% endcase %}
{% endfor %}

{% stylesheet %}

{% endstylesheet %}

<style>
   .used-phones-heading {
    animation: 2s animated alternate-reverse infinite;
    color: red;
 }

 @keyframes animated {
   0%{
    transform: translateX(0px);
   }

   50% {
      transform: translateX(50px);
   }

   100% {
    transform: translateX(100px);
   }
 }

</style>

{% javascript %}
{% endjavascript %}