{% schema %}
  {
    "name": "Old mobiles",
    "settings": [],
     "presets": [
      {
        "name": "Old mobiles",
        "category": "Custom"
      }
    ]
  }
{% endschema %}

<!-- <h2 class="center used-phones-heading">{{ section.settings.id | default: "Used phones" }}</h2>
<p>If you are intereested <a href="{{ section.settings.url }}">click here</a>!</p> -->

<!-- {% for item in blocks %}
    {% case block.type %}
      {% when 'text' %}
          <h4>{{ item.used_phones_name }}</h4>
      {% else %}
    {% endcase %}
{% endfor %} -->

{% stylesheet %}

{% endstylesheet %}

<style>


</style>

{% javascript %}
{% endjavascript %}

<!-- {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "url",
        "id": "url",
        "label": "url"
      }
    ],
    "blocks": [
      {
        "name" : "used_mobile",
        "type"  : "phones",
        "settings": [
          {
            "type": "text",
            "id": "used_phones_name",
            "label": "Heading"
          }
        ]
      } -->

         <!-- .used-phones-heading {
    animation: 2s animated alternate-reverse infinite;
    color: red;
 }

 @keyframes animated {
   0%{
    transform: translateX(0px);
   }

   50% {
      transform: translateX(50px);
   }

   100% {
    transform: translateX(100px);
   }
 } -->