{% schema %}
  {
    "name": "Old mobiles",
    "settings": [],
  
     "presets": [
      {
        "name": "custom-text",
        "category": "Custom"
      }
    ]
  }
 
{% endschema %}

<h2>Sell your Used phone!</h2>
<p>If you are intereested <a href="#">click here</a>!</p>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}